.hero-container{
    background: url('assets/images/products/hero_image.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

/* Social Icons */
.social-icon-link {
    color: #55462e;
    font-size: 22px;
  }

  .whatsapp{
    font-size: 18px;
  }

