.hero-container{
    background: url('assets/images/products/valentines_2.jpeg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    position: relative;
    
}
/* promotional price */
.promotional-price {
  position: absolute;
    bottom: 10%; /* Adjust the distance from the bottom as needed */
    right: 5%; /* Adjust the distance from the right as needed */
}

.promotional-items-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.promotional-items{
  position: relative;
  margin-top: -100px;
  width: fit-content;  
  
}

/* Social Icons */
.social-icon-link {
    color: #55462e;
    font-size: 22px;
  }

  .whatsapp{
    font-size: 18px;
  }

  /* Product Detail Icons */
  .product-detail-icon-link {
    color: #55462e;
    font-size: 21px;
  }
  
  .product-detail-icon-link-gray {
    color: #85837f;
    font-size: 21px;
  }
  
  .product-detail-delivery_cost{
  color: #55462e;
  font-size: 17px;
}

.map {
  height: 100vh;
}

.map-marker {
  margin-top: -30px;
}

@media screen and (max-width: 960px) {
  .hero-container{
    background: url('assets/images/products/valentines_5.png') center center/cover no-repeat;
    background-color: rgba(240, 239, 239, 0.8);
  }
  
  .promotional-price {
    position: static; /* Remove absolute positioning */
        
        margin-top: 10%; /* Adjust the margin as a percentage of the container height */
        bottom: auto; /* Remove the bottom positioning */
        right: auto; /* Remove the right positioning */
  }

  
}
